[% USE Markdown -%]
<!DOCTYPE html>
<html>
[% INCLUDE head.tt %]
  <body>
[% INCLUDE archives.tt %]
    <div id="main">
      <h1>My nice blog</h1>
      <div id="posts">
[% FOREACH page IN pages %]
        <div class="post">
          <h2>[% page.TITLE %]</h2>
          <p>
          [% FILTER markdown -%]
[% page.EXCERPT %]
          [% END %]
          </p>
        </div><!-- end div post -->
[% END %]
       </div><!-- end div posts -->
     </div><!-- end div main -->
  </body>
</html>
