[% USE Markdown -%]
<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
  </head>
  <body>
    <h1>My nice blog</h1>
[% FOREACH page IN pages %]
    <div class="post">
      <h2>[% page.TITLE %]</h2>
      <p>
        [% FILTER markdown -%]
[% page.EXCERPT %]
        [% END %]
      </p>
    </div>
[% END %]
  </body>
</html>
